/*** RESET ***/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  display: block;
}

/* HEADER */

header {
  background-color: #2e3a46;
  padding-block: 10px;
  padding-left: 20px;
}

header img {
  width: 30px;
}

/* MAIN */
main {
  background-color: #1e2d3b;
  padding-block: 50px;
}
.container {
  width: 70%;
  margin: auto;
}
.discs-box {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}
.disc-card {
  width: calc((100% / 3) - 20px);
  text-align: center;
  background-color: #2e3a46;
  padding: 20px;
}
.disc-card h2 {
  color: white;
  padding-block: 10px;
}
.disc-card p {
  color: #757b78;
}
